{% extends 'base.html' %}
{% block content %}

<div>
{% for hotels in hotels %}
    <div class="row b-3 m-3" >

    <div class="card" style="width: 18rem;">
        <div class="image" style="background-image: url('{{ MEDIA_URL }}{{ hotels.image }}')"></div>        
        <div class="card-body">
            <h5 class="card-title">{{ hotels.name }}</h3>
            <p class="product-description">{{ hotels.description }}</p>
            <p><strong>€{{ hotel.price }}</strong></p>
        </div>
        
        <form method="post" action="{% url 'add_to_cart' hotels.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-sucess" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
    


{% endfor %}
</div>
</div>
{% endblock %} 