{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron bg-info ">
                <h1 class="display-4 mt-5">Don't where to go?!</h1>
                <p class="lead">If you still have any doubts about where to go, in this space we put some curiosities about places that are in our package and will help you decide.</p>
                
                
            
    </div>
</div>

<div class="container">
    <h1>Australia</h1>
        <h3 class="display-5">Tasmania has the cleanest air in the world</h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/autralia01.jpg');">
        <p class="lead font-weight-normal font-italic mt-5">The island of Tasmania is the ideal spot to experience the great outdoors - with air as clean as Antarctica, around one-third of the state is a national park or World Heritage protected. It is a walkers paradise, with trails and walkways winding over the whole island, where the coastal paths reveal impressive views over Wineglass Bay and the Bay of Fires.

If walking isn't your cup of tea, enjoy kayaking, mountain biking and exploring the island's caves. The wildlife is an extension of the unique animals of Australia, where the Eastern Quoll, now considered extinct on the mainland are commonly sighted in the fertile farmland of Tasmania.</p>
                <hr class="my-4">
          
        
        <h3 class="display-5">The Great Barrier Reef is the largest eco-system in the world</h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/autralia02.jpg');">
        <p class="lead font-weight-normal font-italic mt-5">The Great Barrier Reef is the pride and joy of Australia, made up of nearly 2,500 individual reefs and visible from space. It stretched halfway down the eastern coast of the country, meaning there are plenty of places to use as jumping-off points to explore the kaleidoscopic coral.</p>
                <hr class="my-4">
          
</div>
<div class="container">
    <h1>Thailand</h1>
        <h3 class="display-5">Thailand hosts an annual monkey festival</h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/thailand01.jpg');">
        <p class="lead font-weight-normal font-italic mt-5">If your bucket list includes feeding thousands of monkeys at 13th-century temple ruins, don’t miss the “Monkey Buffet Festival” in November. It’s held in Lopburi where the locals think the macaque monkeys bring them good luck.</p>
                <hr class="my-4">
          
        
        <h3 class="display-5">Thailand is the only country in Southeast Asia that was never colonized by europeans</h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/thailand02.jpg');">
        <p class="lead font-weight-normal font-italic mt-5">This fact might play a part in Thailand being nicknamed the Land of Smiles. Most, if not all of the Thais you’ll encounter, especially in the tourism industry, will greet you with a smile and/or a bow.</p>
                <hr class="my-4">
          
</div>
<div class="container">
    <h1>Brazil</h1>
        <h3 class="display-5">Brazilian people & culture</h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/brazil01.jpg');">
        <p class="lead font-weight-normal font-italic mt-5">Most Brazilians are descended from three ethnic groups: Amerindians, European settlers (mainly from Portugal) and Africans. Starting in the 19th century, waves of immigrants from Europe, the Middle East, and even Japan added to this mix. This diversity of people has created a rich religious, musical and culinary culture.
        Brazilians are football crazy, and their country has produced some of the most popular players in the world! Brazil has won the FIFA World Cup finals five times, more than any other nation.

Brazil is also home to the world’s largest carnival – Rio Carnival! Each year, in the days leading up to Lent, around 2 million people take to the streets of Rio de Janeiro to enjoy music, dancing, elaborate costumes and parades.</p>
                <hr class="my-4">
          
        
        <h3 class="display-5">Brazil’s wildlife & nature</h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/brazil02.jpg');">
        <p class="lead font-weight-normal font-italic mt-5">Brazil has the greatest variety of animals of any country in the world. It is home to 600 mammal species, 1,500 fish species, 1,600 bird species and an amazing 100,000 different types of insects. Brazil’s jungles are home to most of its animal life, but many unique species also live in the pampas and semidesert regions.

In the central-western part of Brazil sits a flat, swampy area called the Pantanal. This patchwork of flooded lagoons and small islands is the world’s largest wetland. Here live giant anacondas, huge guinea pig relatives called capybaras, and fierce South American alligators called caimans.</p>
                <hr class="my-4">
          
</div>
<div class="container">
    <h1>New Zealand</h1>
        <h3 class="display-5">There’s a glowing cave</h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/newzealnd01.webp');">
        <p class="lead font-weight-normal font-italic mt-5">This is not a man-made cave where they’ve put glowsticks on the wall, but instead a natural phenomenon.

The glowing caves in Waitomo are inhabited by glowworms known as Arachnocampa luminosa. In recent years, it has become a popular tourist attraction where boat rides take people through the glowworm caves. </p>
                <hr class="my-4">
          
        
        <h3 class="display-5">Lord of the Rings and the Hobbit trilogy was filmed here</h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/newzealnd02.webp');">
        <p class="lead font-weight-normal font-italic mt-5">Few people have missed the trilogy Lord of the Rings by J.R.R Tolkien with characters such as Frodo Baggins, Gandalf, Legolas, Aragorn and many more. Even much of the Hobbit trilogy has been filmed in New Zealand.

Tourists can visit the movie set of Hobbiton as well as other natural filming locations. In 2012, even a weather report in the Elvish language was broadcasted to the public.</p>
                <hr class="my-4">
          
</div>
{% endblock %}