{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Australia</h1>
        <h3 class="display-5"><a href="https://www.danflyingsolo.com/" target="_blank" style="text-decoration:none" >Tasmania has the cleanest air in the world</a></h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/001.jpg');">
        <p class="lead font-weight-normal font-italic mt-5">The island of Tasmania is the ideal spot to experience the great outdoors - with air as clean as Antarctica, around one-third of the state is a national park or World Heritage protected. It is a walkers paradise, with trails and walkways winding over the whole island, where the coastal paths reveal impressive views over Wineglass Bay and the Bay of Fires.

If walking isn't your cup of tea, enjoy kayaking, mountain biking and exploring the island's caves. The wildlife is an extension of the unique animals of Australia, where the Eastern Quoll, now considered extinct on the mainland are commonly sighted in the fertile farmland of Tasmania.</p>
                <hr class="my-4">
          
        
        <h3 class="display-5"><a href="https://www.danflyingsolo.com/" target="_blank" style="text-decoration:none" >The Great Barrier Reef is the largest eco-system in the world</a></h3>             
        <img class="d-block w-100" style="background-image: url('https://ecommercego.s3-eu-west-1.amazonaws.com/media/001.jpg');">
        <p class="lead font-weight-normal font-italic mt-5">The Great Barrier Reef is the pride and joy of Australia, made up of nearly 2,500 individual reefs and visible from space. It stretched halfway down the eastern coast of the country, meaning there are plenty of places to use as jumping-off points to explore the kaleidoscopic coral.</p>
                <hr class="my-4">
          
        </div>

{% endblock %}