{% extends 'base.html' %}
{% block content %}
<!--This page will display all the products that the company is selling and the user can search the destiny if they wish-->
<div class="row row-flex">
{% for product in products %}

<div class="row b-3 m-3" >

    <div class="card" style="width: 18rem;">
        <div class="image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>        
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p><strong>€{{ product.price }}</strong></p>
        </div>
        
        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-sucess" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
</div>


{% endfor %}
</div>


{% endblock %}