body{
    font-family: Arial;
    background-color: rgb(255, 255, 255);    
}



.icon-bar {
    background-color: #fff;
}

.accountform{
    padding-top: 20px;
}

.badge{
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;

}

.label-warning[href],
.badge-warning[href]{
    background-color: #c67605
}

.product{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p{
    word-wrap: break-word;

}

.row.row-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

}

.panel-default{
    border-color: transparent;
    padding: 0 10px;

}

.panel-body{
    height: 100%;
    border: 1px solid #ddd;

}

.product-description{
    min-height: 40px
}

/*---------- Footer -------*/

#footer {
 background:  #36556d;
 padding: 0 0 20px 0;
 font-size: 13px;
 font-family: 'Bebas Neue'
}

#footer p {
    color: rgb(248, 248, 248);
    line-height: 25px;
    letter-spacing: 2px;
    
}
#footer .footer-top {
 background:  #215b8a;
 padding: 40px;
}



#footer h3, h2 {

color: #ffc107;
margin: 0;
padding: 0;
margin-top: 30px;

} 

#footer h2 {
font-size: 18px;
} 

#footer p {
    margin-top:20px;
}

#footer .footer-links ul a:hover{
 color: #50c6db;
 text-decoration: none;
}
#footer .footer-links ul a{
    color: #fafafa;
    list-style: none;
}


#footer .footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer .footer-links ul li {
    border-bottom: 1px solid #c9c3b4;
    line-height: 40px;
}

#footer .copyright {
 text-align: center;
 padding-top: 1rem;
}

#footer hr{
    margin-bottom: 2rem;
    margin-top: 0;
   
}

#footer .footer-social a {
    background: #ffffff;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

#footer .footer-social a i {
    font-size: 20px;
    color: #215b8a;
    padding: 10px 12px;
    opacity: 0.8;
}

#footer .footer-social a i:hover{
    opacity: 1;
    color: #50c6db;
}

@media only screen and (max-width: 600px) {
    #footer .footer-social a i{
    opacity: 1;
    color: #ffee07;
    }
}

.text-muted .photos {
    color: pink;
}