{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
<!--Here the user can get to know what they are expecting to pay for and submit the payment if they wish-->
{% block content %}
<div class="row row-flex">
    {% for item in cart_items %}

    <div class="row b-3 m-3">
        <div class="card" style="width: 18rem;">
            <div class="product image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
            
            <div class="card-body">
                <h3 class="card-title">{{ item.product.name }}</h3>
                <p class="product-description">{{ item.product.description }}</p>
                <p><strong>€{{ item.product.price }}</strong></p> 
                
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group ">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">  
                                <div class="input-group-addon m-1">Qty</div> 
                                <input name="quantity" type="number" min="0" max="99" class="form-control m-1" required>
                                <div class="input-group-addon m-1">{{ item.quantity }}</div>
                                <button type="submit" class="btn btn-primary ml-3"><span class="glyphicon glyphicon-edit" aria-hidden="true" >Amend</span></button>                    
                            </div>
                        </div>
                                        
                    </form>         
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container border m-3">
    <div class="row">
        <p class="mr-3"><strong>Total</strong></p>
        <p class="mr-3"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>€{{ total }}</p>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class=" glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>
</div>
{% endblock %}