{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA0Compatible" content="ie=edge">
        <title>Ecommerce</title>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        

        {% block head_js %}
        {% endblock head_js %}
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand d-none d-lg-block" href="#">
                <img src="https://ecommercego.s3-eu-west-1.amazonaws.com/media/images/egologo.png" style="width: 6rem; height: 6rem; padding:none" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                 aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">

                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout'  %}"><i class="fa fa-sign-out"></i>Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login'  %}"><i class="fa fa-sign-in"></i>Login</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                            href="{% url 'registration' %}"><i class="fa fa-user-plus"></i>Register</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i>Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>

                    </li>

                </ul>
            </div>
        </nav>
        <img src="    ">

        <h1>{% block page_heading %}{% endblock %}</h1>

        {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="display">
                <form action="{% url 'search' %}" method="get">
                    <input type="text" name="q">
                    <button type="submit">Search</button>


                </form>
            </div>
            {% block content %}{% endblock %}
        </div>
        <footer id="footer">
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-info">
                            <h3> E-go</h3>
                            <hr>
                            <p> Provides the best service for you to arrange your holidays in just one place. If you have any question, please get in contact with us!
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-links">
                            <h2> Useful Links</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>

                                <li><a href="#aboutme">About me</a></li>

                                <li><a href="#goal">Set your goal</a></li>

                                <li><a href="#contact">Contact</a></li>

                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-social">
                            <h2>Follow us on SOcial Medias</h2>
                            <p>Keep following us to check the best dealz for you next holidays!</p>
                            <a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-newsletter">
                            <h2>Newsletter</h2>
                            <p >Sign up for more offers, cultural info and much more!</p>
                            <form method="post">
                                <input type="email" name="email"><input type="submit" class="btn-warning" value="Subscribe">
                            </form>

                        </div>

                    </div>
                </div>
            </div>
            <p class="copyright p-2 text-muted">@COPYRIGHT 2019 0 ALL RIGHTS RESERVED<p>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </body>


</html>